<div class="thumbnail-container">
    <p class="info__left">
      Verfügbare Befehle:<br />
    "weiter", "zurück", "abspielen", "pause", "schneller", "langsamer"
    </p>
    <div class="thumbnail" *ngFor="let source of sources; index as i">
      <p>Step {{i}}</p>
      <video width="100" height="100" [src]="source" [ngStyle]="{'border': i == activeSource ? '2px solid red' : 'none'}"></video>
    </div>
    <p class="info__right">
      Vor Sprachsteuerung mit Dokument interagieren (einmal ins Weiße klicken)
    </p>
</div>
<div class="main-video-container">
  <video muted #video loop autoplay [src]="sources[activeSource]" [playbackRate]="playbackRate">
      <!-- <source [src]="sources[activeSource]" /> -->
  </video>
</div>
